body {
    .box {
        height: 1000px;
        width: 90vw;
        border: 2px solid black;
        background-color: antiquewhite;
    }
    .box1{
        /* position: relative; */
        /* top: 20; */
        position:sticky;
        height: 400px;
        top: 0px;
        /* z-index: 1; */
        width: 80vw;
        border: 2px solid black;
        background-color: red;
    }
    .box2{
        /* position: relative;
        top: -30px;
        left: 30px; */
        /* position:fixed; */
        height: 200px;
        left:100px;
        width: 80vw;
        border: 2px solid black;
        background-color: yellow;
    }
    .box3{
        height: 500px;
        width: 80vw;
        border: 2px solid black;
        background-color: green;
    }
}