* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: sans-serif;
}

.bannerimage {
    position: relative;
}

.navigationbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 1;
    background: rgba(0, 0, 0, 0.03);
    /* Optional: To add a background color for better visibility */
}

.navbuttons {
    position: relative;
    top: 45px;
}

.navbuttons a {
    color: white;
    text-decoration: none;
    font-weight: 300;
}

.navbuttons a.home {
    font-weight: 700;
}

.headingimg img {
    width: 100%;
}

.bannername {
    position: relative;
    top: 200px;
    left: 30px;
    width: 50%;
    display: flex;
    flex-direction: row;
    z-index: 3;
}
@media only screen and (max-width: 1100px) {
    .bannername{
        position: absolute;
        top: 100px;
    }
}
.results{
    position: absolute;
    top: 400px;
    justify-content: start;
    left: 30px;
    display: flex;
    flex-direction: row;
    color:white;
    font-weight: 500;
    text-align:start;
    font-size: 20px;
    z-index: 3;
}
@media only screen and (max-width: 1100px) {
    .results{
        position: absolute;
        top: 230px;
    }
}
@media only screen and (min-width: 2000px) {
    .results{
        position: absolute;
        top: 530px;
    }
}
.buttons{
    position: relative;
    width: 77px;
    height: 32px;
    z-index: 3; 
    top: 330px;
    display: flex;
    flex-direction: row;
    left: 30px;
}
.buttons .watchvideo{
    position: relative;
    width: 100px;
    height: 40px;
    font-weight: 700;
    border-color: transparent;
    font-size: 15px;
    border-radius: 5px;
}
@media only screen and (min-width: 2000px) {
    .buttons{
        position: absolute;
        top: 650px;
    }
}
.buttons .watchvideo:hover{
    background-color: red;
    color: white;
    font-weight: bold;
}