* {
    padding: 0;
    margin: 0;
}

body {
    background-color: grey !important;
    font-family: sans-serif;
}

.Banner {
    position: relative;
    text-align: center;
    color: white;
    font-weight: bolder;

}


.Banner .Banner_Text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

}

@media only screen and (max-width: 1044px) {
    .Banner .Banner_Text {
        font-size: 2rem;
    }
}
@media only screen and (max-width: 600px) {
    .Banner .Banner_Text {
        font-size: 1rem;
    }
}
.Banner .heading {
    position: absolute;
    top: 4%;
    padding-left: 1px !important;
    transform: translate(-25%, -40%);
}

.Banner .secondbannertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

}

.Banner .emailinput {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

}
@media  only screen and (max-width: 600px) {
    .Banner .secondbannertext {
        top: 65%;
        font-size: 1rem;
    }
    
}
@media  only screen and (max-width: 600px) {
    .Banner .emailinput {
        top: 85%;
        /* font-size: 1rem; */
    }
    
}

.firstsection .firstsectionimage .FirstSectionImage{
    left:50%;
    position: absolute;
}
.firstsection {
    position: relative;
    background-color: black;
    height: 500px;

}

@media only screen and (max-width: 650px) and (max-width:800px) {
    .firstsection {
        display:block;
    }
}
.firstsection .firstsectiontext {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    /* padding: 0 20px; */
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 650px) and (max-width:800px) {
    .firstsection .firstsectiontext {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 900;
        font-size: 2rem;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}
.firstsection .firstsectionsubtext {
    position: absolute;
    top: 50%;
    left: 23%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 100%;
    /* padding: 0 20px; */
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 650px) and (max-width:800px) {
    .firstsection .firstsectionsubtext {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 650px) and (max-width:800px) {
    .firstsection .firstsectionsubtext {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    
    }
}
.Banner .homeimage{
    opacity: 1;
    background-color: black;
    height: auto;
}
@media only screen and (max-width: 200px) and (max-width:300px) {
    .firstsection .firstsectionsubtext {
         position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    
    }
}
@media only screen and (max-width:649px) {
    .firstsection .firstsectionsubtext {
        top: 35%;
    
    }
}
@media only screen and (min-width:600px) and  (max-width:800px) {
    .firstsection .firstsectionsubtext {
        top: 40%;
        left: 26%;
    
    }
}

.secondsection {
    background-color: black;
    height: 500px;
    margin-top: 5px;
}

.thirdsection {
    background-color: black;
    height: 500px;
    margin-top: 5px;
}

.fourthsection {
    background-color: black;
    height: 500px;
    margin-top: 5px;
}