*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    height: 100vh;
    width: 100vw; /* Ensure container takes full viewport width */
}
.navbar{
    left: 50px;
    position: relative;
    top: 20px;
}
.line {
    height: 0.1px;
    width: 100%;
    border: 0;
    background-color: lightgrey;
    position: relative;
    top: 40px;
}
.header1{
    position: relative;
    top: 100px;
    left: 100px;
}
.plans {
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    left: 100px;
    height:auto;
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: calc(100vw - 200px);
    box-sizing: border-box;
    
    /* Hide the scrollbar */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.plans::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.headingprem {
    height: 90px;
    width: 300px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #234E9C, #2F429A, #503585, #912253);
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
    margin-right: 20px; /* Add margin to separate multiple headingprem elements */
}
.bodyprem{
    position: relative;
    top: 30px;
    color: grey;
    left: 10px;
}
.head2{
    color: #000;
    font-weight: 500;
}
.premium {
    position: relative;
    justify-content: center;
}
