*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar{
    left: 50px;
    position:relative;
    top: 20px;
}
.line {
    height: 0.1px;
    width: 100%;
    border: 0;
    background-color: lightgrey;
    position: relative;
    top: 40px;
}
.header1{
    position: relative;
    top: 100px;
    left: 200px;
}
.plans{
    position: relative;
    top: 150px;
    display: flex;
    flex-direction: row;
    left: 200px;
    flex-wrap: wrap;
}
.headingprem {
    height: 90px;
    width: 300px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(to right, #234E9C, #2F429A,#503585,#912253);
}

.headingprem{
    position: relative;
    /* left: 50px; */
    font-size: 15px;
    font-weight: bold;
    padding-left: 20px;
}
