*{
    padding: 0px;
    margin: 0px;
}
body {
    /* margin: 50px auto; */
    font-family: poppins;
    font-weight: 400;
    font-size: auto;
    background-color: azure;
    .container {
        display: flex;
        justify-content: center;
        /* Other styles for larger screens */
    }
    
    @media (max-width: 600px) {
        .container {
            display: grid;
            justify-content: center;
            /* Additional grid styles for smaller screens */
        }
    }
    .navbar{
        background-color: rgb(13, 232, 79);
    }
    .Lists{
        display: flex;
    }
    .Lists .Navbar_Items{
        padding: 20px;
        list-style: none;
    }
    p2 {
        font-weight: lighter !important;
        text-overflow: ellipsis;
        /* border: 2px solid red ; */
        overflow: scroll;
    }

    h2 {
        font-weight: lighter;
    }

    h3 {
        font-weight: 400;
    }

    h1 {
        color-scheme: initial;
        color: blue !important;

    }

    .About {
        box-sizing: border-box;
        border: 2px thin black;
        /* width: 2048px; */
        width: 82vw;
        overflow: auto auto;
        text-align: start;
        /* height: 10vh; */
        margin: 50px auto;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        border-radius: 10px;
        background-color: antiquewhite;
        box-shadow: 5px 5px 5px indianred;

    }
    .places{
        width: 25vw;
        border: 0.3px solid black;
        height: 90vh;
        box-shadow: 5px 5px 5px rebeccapurple;
        border-radius: 10px;
        background-color: blanchedalmond;
        margin: 20px;
    }
    .container .places img{
        position: relative;
        top: 5px;
        border-radius: 10px;
        height: 290px;
        width: 24vw;
    }
    .container .places .p1{
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: justify;
        color: grey;
    }
    .container .places .readbutton{
        width: 10vw;
        height: 4vh;
        border-radius: 25px;
        background-color:cadetblue;
        box-shadow: 2px 2px 2px purple;
    }
    .container .places .p2{
        color: black;
        padding-top: 3px;
        text-align: center;
    }
    .container .places .rowoptions{
        display: flex;
        justify-content: start;
        padding-left: 10px;
        padding-top: 10px;
        
    }
    .container .places .rowoptions .row1{
        /* margin: 20px; */
        height: 30px;
        width: 100px;
        margin: 10px;
        border: 0.3px solid black;
        border-radius: 25px;
    }
    .container .places .rowoptions .row1 .nature{
        font-size: 10px;
        font-weight: bolder;
        padding-top: 8px;
        text-align: center;
        
    }
}