.container .rightside {

    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 99.2vh;
    /* overflow-y: scroll; */
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.container .rightside::-webkit-scrollbar {
    display: none;
}

.container .firstrightpart {
    height: 98%;
    overflow: hidden;
    background: linear-gradient(to bottom, #24333E, black);
    width: auto;
    /* margin: 10px; */
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;
    overflow-y: scroll;
    border-radius: 5px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    /* border: 2px solid white; */
}

@media screen and (max-width:650px) {
    .container .firstrightpart {
        width: 250%;
        overflow: auto;
    }
}

@media screen and (max-width:650px) {
    .container .rightside .firstrightpart header {
        width: 250%;
        color: aliceblue;
    }
}

.rightside .firstrightpart .appbar {
    background-color: transparent;
    height: 70px;
    position: relative;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:650px) {
    .rightside .firstrightpart .appbar {
        width: 250%;
        color: aliceblue;
    }
}

.rightside .firstrightpart .appbar .back {
    top: 40%;
    padding-left: 20px;
    position: relative;
}

.rightside .firstrightpart .appbar .buttons .signup {
    top: 10%;
    color: grey;
    font-weight: 700;
    /* margin-left: auto; */
    padding-left: 20px;
    margin-right: 30px;
    position: relative;
}

.rightside .firstrightpart .appbar .buttons {
    top: 25%;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    margin-right: 30px;
    position: relative;
}

.rightside .firstrightpart .appbar .signin .login {
    background-color: white;
    color: #000;
    font-weight: bold;
    height: 35px;
    width: 100px;
    /* top: 50%; */
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
}

.rightside .firstrightpart .appbar .signin .login:hover {
    box-shadow: 2px 2px 5px #1DB954;
    /* background-color: #1e1e1e; */
    /* color: white; */
}

.rightside .firstrightpart .appbar .buttons .signup:hover {
    color: white;
    font-weight: bolder;
}

.rightside .firstrightpart .popularartists {
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.rightside .firstrightpart .historylistening {
    padding-left: 30px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
}

.rightside .firstrightpart .popularartists .showall {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 20px;
}

@media screen and (min-width:2000px) {
    .rightside .firstrightpart .popularartists .showall {
        padding-right: 150px;
    }
}

.rightside .firstrightpart .popularartists .showall .showalltext .showmore {
    display: flex;
    top: 10px;
    font-weight: 700;
    font-size: 14px;
    color: grey;
    flex-direction: row;
    margin-right: auto;
    position: relative;
}

.rightside .firstrightpart .popularartists .showall .showalltext .showmore:hover {
    color: white;
}

.rightside .firstrightpart .pritam {
    /* padding-left: 30px; */
    /* padding-top: 10px; */
    margin-left: 5px;
    /* padding: 5px; */
    padding-top: 10px;
    padding-left: 10px;
    width: 208px;
    height: auto;
    position: relative;
    border-radius: 5px;
}

.rightside .firstrightpart .images {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 5px 5px #1e1e1e;
}

.rightside .firstrightpart .popularalbums {
    height: 200px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px #1e1e1e;
}

.rightside .firstrightpart .pritam .playbutton {
    position: absolute;
    z-index: 1;
    background-color: #1DB954;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 69%;
    top: 58%;
    display: none;
}

.rightside .firstrightpart .pritam .playbutton .Play_png {
    position: relative;
    height: 24px;
    width: 24px;
    top: 28%;
    padding-left: 30%;
}

.rightside .firstrightpart .pritam:hover {
    background-color: #33383E;
    box-shadow: 1px 1px 10px #1DB954;
    border-radius: 5px;
}

.rightside .firstrightpart .pritam:hover .playbutton {
    display: flex;

}

.listeningdetails {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    justify-content: start;
    text-align: start;
}

.rightside .firstrightpart .history {
    background-color: #222222;
    border-radius: 5px;
    margin-left: 13px;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    padding-left: 1px;
    height: 50px;
    width: 232px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.rightside .firstrightpart .history:hover {
    background-color: #32292A;
    /* border: 0.3px solid #1DB954; */
}

.rightside .firstrightpart .history .singername {
    color: white;
    position: relative;
    top: 16px;
    font-weight: 500;
    font-size: 12px;
    padding-left: 10px;
}

.playingsongname {
    color: whitesmoke;
    text-decoration: none;
}
.playingsongname:hover{
    text-decoration: underline;
}