* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    color: white;
    overflow: scroll;
    /* overflow-x: scroll; */
    background-color: #5C3737;

    .appbar {
        background-color: #774747;
        width: 100vw;
        position: relative;
        height: 80px;
    }

    .appbar .back {
        top: 40%;
        position: relative;
        left: 30px;
        padding-right: 20px;
    }

    .playdetails {
        position: relative;
        background-color: #5C3737;
        width: auto;
        height: 300px;
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        padding-left: 50px;
    }

    .playdetails .playowner {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        position: relative;
    }

    .playdetails .playowner .owner {
        font-size: 50px;
        padding-left: 20px;
        top: 10px;
        position: relative;
        font-weight: 900;
    }

    @media screen and (min-width:1000px) {
        .playdetails .playowner .owner {
            font-size: 96px;
            top: 10px;
            position: relative;
        }
    }

    .playdetails .playowner .ownernames {
        position: relative;
        padding-left: 20px;
        font-weight: 700;
        font-size: 14px;
        color: grey;
        padding-top: 30px;
    }

    @media screen and (max-width:1000px) {
        .playdetails .playowner .owner {
            top: 40px;
            position: relative;
        }
    }

    @media screen and (max-width:1000px) {
        .playdetails .playowner .ownernames {
            top: 55px;
            position: relative;
        }
    }

    .songs {
        position: relative;
        height: 100vh;
        background-color: #332020;

    }

    .songs .songscontrols {
        height: 100px;
        width: auto;
        position: relative;
        display: flex;
        flex-direction: row;
    }

    .songs .songscontrols .playbutton {
        background-color: #1DB954;
        border-radius: 50%;
        height: 65px;
        top: 30px;
        left: 50px;
        position: relative;
        width: 65px;
    }

    .songs .songscontrols .playbutton .Play_png {
        position: relative;
        height: 30px;
        width: 30px;
        top: 29%;
        padding-left: 30%;
    }

    .songs .songscontrols .playbutton:hover {
        height: 68px;
        width: 68px;
        position: relative;
        background-color: #3DD974;
        box-shadow: 2px 2px 5px black;
    }

    .songs .songnames {
        /* background-color: black; */
        width: auto;
        /* flex-wrap: wrap; */
        height: 98px;
        position: relative;
        margin-left: 40px;
        margin-right: 40px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
    }

    .songs .songnames:hover {
        background-color: #774747;
        border: 0.3px solid #1DB954;
    }

    .songs .songnames .songimage {
        position: relative;
        top: 20%;
        padding-left: 10px;
        border-radius: 10px;
    }

    .songs .songnames .songdetails {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 30%;
        padding-left: 20px;
        font-weight: 600;
    }

    .songs .songnames .playbutton .Play_png {
        position: relative;
        height: 30px;
        width: 30px;
        top: 40%;
        display: none;
        padding-left: 10px;
    }

    .songs .songnames:hover .Play_png{
        display: flex;
    }
    .songs .songnames .songdetails .artistsname {
        position: relative;
        font-weight: 700;
        color: grey;
        font-size: 14px;
        top: 15px;
        display: flex;
        flex-direction: row;
    }

    .songs .songnames:hover .songdetails .artistsname {
        color: white;

    }
    .songs .songnames .albumname {
        position: relative;
        font-weight: 700;
        color: grey;
        font-size: 14px;
        top: 35px;
        display: flex;
        flex-direction: row;
        margin-left:auto;
        padding-right: 2vw; 
    }
    .songs .songnames:hover .albumname{
        color: white;
    }

}