*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #121212;
    font-family: sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
    .logo{
        top: 30px;
        left: 30px;
        position: relative;
    }
    .container{
        height: auto;
        width: 380px;
        margin: 0 auto;
        position: relative;
        text-align: start;
        justify-content: start;
        font-size: 32px;
        font-weight: bolder;
        top: 60px;
    }
    .container .subtext{
        font-weight: 500;
        position: relative;
        top: 20px;
        justify-content: start;
        text-align: start;
        font-size: 16px;
    }
    .container .subtext .email{
        margin-top: 15px;
        height: 50px;
        width: 380px;
        border-radius: 10px;
        border: 1px solid gray;
        position: relative;
        background-color: transparent;
        
      }
      .container .subtext .email:hover{
        border:1px white  solid;
      }
      .container .subtext .loginbuttons{
        background-color: transparent;
        border-radius:25px;
        height: 50px;
        width:400px;
        position: relative;
        color: white;
        font-size: 16px;
        font-weight: 700;
        font-family: sans-serif;
        border: 0.1px solid gray;
      }
}