.container .rightside{
    /* margin-left: 5px; */
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 99.2vh;
    /* border: 2px solid blue; */
}
.container .firstrightpart{
    height: 98%;
    background-color: #1e1e1e;
    width: auto;
    /* margin: 10px; */
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    /* border: 2px solid white; */
}
.rightside .firstrightpart .appbar{
    background-color:#111111;
    height: 70px;
    position: relative;
    width: 100%;
}
.rightside .firstrightpart .appbar .back{
    top: 40%;
    padding-left: 20px;
    position: relative;
}