*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.container{
    overflow: scroll;
    display: flex;
    height:100vh;
    position: absolute;
    /* background-color: black; */
    width: 100vw;
    /* border: 2px solid red; */
    box-sizing: border-box;
}